In [96]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import html5lib

In [74]:
season = 2017

# get data from player totals page

In [75]:
url='http://www.basketball-reference.com/leagues/NBA_2017_totals.html'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'lxml')

In [76]:
table = soup.find(id='totals_stats')

In [77]:
data = pd.read_html(str(table))[0]
data = data[data['Rk'] != 'Rk']

# clean up data

In [78]:
c = list(data.columns)
c[11]='X3P'
data.columns = c

In [79]:
for i in range(0,25):
    data[data.columns[5+i]] = pd.to_numeric(data[data.columns[5+i]])

In [80]:
print range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
data.head().T

                   0           1           2           3             4
Rk                 1           2           2           2             3
Player  Alex Abrines  Quincy Acy  Quincy Acy  Quincy Acy  Steven Adams
Pos               SG          PF          PF          PF             C
Age               23          26          26          26            23
Tm               OKC         TOT         DAL         BRK           OKC
G                 43          18           6          12            52
GS                 0           0           0           0            52
MP               598         182          48         134          1610
FG                75          30           5          25           264
FGA              189          65          17          48           457
FG%            0.397       0.462       0.294       0.521         0.578
X3P               51          14           1          13             0
3PA              136          30           7          23             2
3P%            0.375       0.467       0.143       0.565             0
2P                24          16           4          12           264
2PA               53          35          10          25           455
2P%            0.453       0.457         0.4        0.48          0.58
eFG%           0.532       0.569       0.324       0.656         0.578
FT                32          17           2          15           111
FTA               37          20           3          17           162
FT%            0.865        0.85       0.667       0.882         0.685
ORB               12          13           2          11           179
DRB               36          26           6          20           236
TRB               48          39           8          31           415
AST               23           2           0           2            60
STL               19           3           0           3            58
BLK                5           7           0           7            57
TOV               23           7           2           5           105
PF                65          25           9          16           127
PTS              233          91          13          78           639

# load team data

In [82]:
dt = pd.read_csv('teamstats.csv')
dt.head()

,﻿Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Houston Rockets,56,13540,2262,4860,0.465,809,2232,0.362,...,0.761,586,1869,2455,1427,465,255,863,1120,6396
1,2,Golden State Warriors,52,12580,2279,4553,0.501,638,1638,0.389,...,0.792,469,1878,2347,1621,489,335,782,1000,6150
2,3,Toronto Raptors,54,13035,2146,4616,0.465,501,1352,0.371,...,0.806,588,1725,2313,1011,467,267,656,1136,5898
3,4,Portland Trail Blazers,54,13110,2134,4678,0.456,549,1530,0.359,...,0.788,536,1782,2318,1183,372,267,736,1171,5816
4,5,Cleveland Cavaliers,52,12580,2058,4449,0.463,676,1742,0.388,...,0.752,522,1772,2294,1151,382,212,729,936,5770

In [83]:
dtm = pd.read_csv('teamstatsmisc.csv')
dtm.head()

,﻿Rk,Team,Age,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,1,Golden State Warriors,28.1,44,8,13.19,-0.40,12.79,116.7,103.7,...,0.360,0.605,0.571,13.3,22.1,0.210,0.486,13.1,76.2,0.198
1,2,San Antonio Spurs,29.6,39,13,8.25,-0.48,7.77,112.6,103.9,...,0.271,0.574,0.532,12.4,22.8,0.226,0.492,13.5,77.6,0.201
2,3,Houston Rockets,27.4,39,17,6.27,-0.13,6.14,114.2,107.9,...,0.459,0.584,0.549,13.6,24.1,0.219,0.518,13.5,76.5,0.199
3,4,Cleveland Cavaliers,29.0,34,18,5.06,-0.39,4.66,113.6,108.4,...,0.392,0.575,0.539,12.7,23.4,0.220,0.513,12.3,75.7,0.171
4,5,Utah Jazz,26.6,36,18,4.81,-0.39,4.43,109.6,104.4,...,0.335,0.567,0.528,13.3,22.4,0.225,0.486,11.8,78.5,0.193

# fix team names

In [84]:
long_team_names = ['Boston Celtics','Fort Wayne Pistons','Milwaukee Hawks','Minneapolis Lakers',
                   'New York Knicks','Philadelphia Warriors','Rochester Royals','Syracuse Nationals',
                   'League Average','St. Louis Hawks','Cincinnati Royals','Detroit Pistons','Los Angeles Lakers',
                   'Chicago Packers','Chicago Zephyrs','San Francisco Warriors','Baltimore Bullets',
                   'Philadelphia 76ers','Chicago Bulls','San Diego Rockets','Seattle SuperSonics',
                   'Atlanta Hawks','Milwaukee Bucks','Phoenix Suns','Buffalo Braves','Cleveland Cavaliers',
                   'Portland Trail Blazers','Golden State Warriors','Houston Rockets','Kansas City-Omaha Kings',
                   'Capital Bullets','New Orleans Jazz','Washington Bullets','Kansas City Kings','Denver Nuggets',
                   'Indiana Pacers','New York Nets','San Antonio Spurs','New Jersey Nets','San Diego Clippers',
                   'Utah Jazz','Dallas Mavericks','Los Angeles Clippers','Sacramento Kings','Charlotte Hornets',
                   'Miami Heat','Minnesota Timberwolves','Orlando Magic','Toronto Raptors','Vancouver Grizzlies',
                   'Washington Wizards','Memphis Grizzlies','New Orleans Hornets','Charlotte Bobcats',
                   'New Orleans/Oklahoma City Hornets','Oklahoma City Thunder','Brooklyn Nets','New Orleans Pelicans']
short_team_names = ['BOS','FTW','MLH','MNL','NYK','PHW','ROC','SYR','LAVG','STL','CIN','DET','LAL','CHP',
                    'CHZ','SFW','BAL','PHI','CHI','SDR','SEA','ATL','MIL','PHO','BUF','CLE','POR','GSW',
                    'HOU','KCO','CAP','NOJ','WSB','KCK','DEN','IND','NYN','SAS','NJN','SDC','UTA','DAL',
                    'LAC','SAC','CHH','MIA','MIN','ORL','TOR','VAN','WAS','MEM','NOH','CHA','NOK','OKC','BRK','NOP']
short_team_names = map(lambda x: 'CHO' if (season>2014 and x=='CHH') else x, short_team_names)

In [85]:
team_names = pd.DataFrame([long_team_names,short_team_names]).T
team_names.columns=['long_name','short_name']
team_names.head()

            long_name short_name
0      Boston Celtics        BOS
1  Fort Wayne Pistons        FTW
2     Milwaukee Hawks        MLH
3  Minneapolis Lakers        MNL
4     New York Knicks        NYK

In [86]:
dtm = dtm.merge(team_names,left_on='Team',right_on='long_name')
dtm.head()

,﻿Rk,Team,Age,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,long_name,short_name
0,1,Golden State Warriors,28.1,44,8,13.19,-0.40,12.79,116.7,103.7,...,0.571,13.3,22.1,0.210,0.486,13.1,76.2,0.198,Golden State Warriors,GSW
1,2,San Antonio Spurs,29.6,39,13,8.25,-0.48,7.77,112.6,103.9,...,0.532,12.4,22.8,0.226,0.492,13.5,77.6,0.201,San Antonio Spurs,SAS
2,3,Houston Rockets,27.4,39,17,6.27,-0.13,6.14,114.2,107.9,...,0.549,13.6,24.1,0.219,0.518,13.5,76.5,0.199,Houston Rockets,HOU
3,4,Cleveland Cavaliers,29.0,34,18,5.06,-0.39,4.66,113.6,108.4,...,0.539,12.7,23.4,0.220,0.513,12.3,75.7,0.171,Cleveland Cavaliers,CLE
4,5,Utah Jazz,26.6,36,18,4.81,-0.39,4.43,109.6,104.4,...,0.528,13.3,22.4,0.225,0.486,11.8,78.5,0.193,Utah Jazz,UTA

# add league-wide terms

In [87]:
factor = (2/3) - (0.5 * (1.0*sum(dt['AST']) / sum(dt['FG']) )) / (2 * (1.0*sum(dt['FG'] / sum(dt['FT']))))
print factor

-0.0666400180521

In [88]:
VOP = (1.0*sum(dt['PTS'])) / ( sum(dt['FGA']) - sum(dt['ORB']) + sum(dt['TOV']) + (0.44 * sum(dt['FTA']))) 
print VOP

1.05952840418

In [89]:
DRB = (1.0 * (sum(dt['TRB']) - sum(dt['ORB']))) / sum(dt['TRB'])
print DRB

0.766433325188

# set PER and calculate

In [90]:
data['uPER'] = 0
data['aPER'] = 0
data['PER'] = 0

In [91]:
data['uPER'] = data.apply(lambda row: 0 if row['Tm'] == 'TOT' else (
        (1.0/ row['MP']) *
            (row['X3P'] + ((2/3) * row['AST']) +
                (2 - factor * ( 1.0*sum(data[data['Tm'] == row['Tm']]['AST']) / sum(data[data['Tm'] == row['Tm']]['FG']) )) * row['FG'] + 
(row['FT'] *0.5 * (1 + (1 - ( sum(data[data['Tm'] == row['Tm']]['AST']) / sum(data[data['Tm'] == row['Tm']]['FG']) )) 
                   + (2/3) * (sum(data[data['Tm'] == row['Tm']]['AST']) / sum(data[data['Tm'] == row['Tm']]['FG'])))) - 
VOP * row['TOV'] -VOP*DRB*(row['FGA'] - row['FG']) - 
VOP * 0.44 * (0.44 + (0.56 * DRB)) * (row['FTA'] - row['FT'])+
VOP * (1 - DRB) * (row['TRB'] - row['ORB']) + VOP * DRB * row['ORB'] +
VOP * row['STL'] + VOP * DRB * row['BLK'] -
row['PF'] * ((1.0*sum(data['FT']) / sum(data['PF']) ) - 0.44 * (1.0*sum(data['FTA']) / sum(data['PF'])) * VOP)
        )
    )
, axis=1)

In [93]:
dtm.head()

,﻿Rk,Team,Age,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,long_name,short_name
0,1,Golden State Warriors,28.1,44,8,13.19,-0.40,12.79,116.7,103.7,...,0.571,13.3,22.1,0.210,0.486,13.1,76.2,0.198,Golden State Warriors,GSW
1,2,San Antonio Spurs,29.6,39,13,8.25,-0.48,7.77,112.6,103.9,...,0.532,12.4,22.8,0.226,0.492,13.5,77.6,0.201,San Antonio Spurs,SAS
2,3,Houston Rockets,27.4,39,17,6.27,-0.13,6.14,114.2,107.9,...,0.549,13.6,24.1,0.219,0.518,13.5,76.5,0.199,Houston Rockets,HOU
3,4,Cleveland Cavaliers,29.0,34,18,5.06,-0.39,4.66,113.6,108.4,...,0.539,12.7,23.4,0.220,0.513,12.3,75.7,0.171,Cleveland Cavaliers,CLE
4,5,Utah Jazz,26.6,36,18,4.81,-0.39,4.43,109.6,104.4,...,0.528,13.3,22.4,0.225,0.486,11.8,78.5,0.193,Utah Jazz,UTA

# pace adjustment using team pace from B-ref

In [98]:
data['aPER'] = data.apply(lambda row: 0 if row['Tm']=='TOT' else (
    row['uPER'] * (
        np.mean(dtm['Pace'])/sum(dtm[dtm['short_name'] == row['Tm']]['Pace']))), axis=1)

# set league avg to 15

In [99]:
data['PER'] = data.apply(lambda row: row['aPER'] * (15/
    sum(data[data['Tm'] != 'TOT']['MP'] * data[data['Tm'] != 'TOT']['aPER']) / sum(data[data['Tm'] != 'TOT']['MP'])
                                                   ), axis=1)

# calculate PER for players on multiple teams, minute weighted

In [ ]:
data['PER'] = data.apply(lambda row: row['PER'] if row['Tm'] != 'TOT' else (
    sum()), axis=1)

sum(db$PER[which(db$Player==db$Player[i]&db$Age==db$Age[i])]*db$MP[which(db$Player==db$Player[i]&db$Age==db$Age[i])])/
sum(db$MP[which((db$Player==db$Player[i]&db$Age==db$Age[i])&db$Tm!='TOT')])

# hey look data

In [100]:
data.head().T

                   0           1           2           3             4
Rk                 1           2           2           2             3
Player  Alex Abrines  Quincy Acy  Quincy Acy  Quincy Acy  Steven Adams
Pos               SG          PF          PF          PF             C
Age               23          26          26          26            23
Tm               OKC         TOT         DAL         BRK           OKC
G                 43          18           6          12            52
GS                 0           0           0           0            52
MP               598         182          48         134          1610
FG                75          30           5          25           264
FGA              189          65          17          48           457
FG%            0.397       0.462       0.294       0.521         0.578
X3P               51          14           1          13             0
3PA              136          30           7          23             2
3P%            0.375       0.467       0.143       0.565             0
2P                24          16           4          12           264
2PA               53          35          10          25           455
2P%            0.453       0.457         0.4        0.48          0.58
eFG%           0.532       0.569       0.324       0.656         0.578
FT                32          17           2          15           111
FTA               37          20           3          17           162
FT%            0.865        0.85       0.667       0.882         0.685
ORB               12          13           2          11           179
DRB               36          26           6          20           236
TRB               48          39           8          31           415
AST               23           2           0           2            60
STL               19           3           0           3            58
BLK                5           7           0           7            57
TOV               23           7           2           5           105
PF                65          25           9          16           127
PTS              233          91          13          78           639
uPER               0           0           0           0             0
aPER               0           0           0           0             0
PER              NaN         NaN         NaN         NaN           NaN